Human_Approval/StepFunction.json
{
  "StartAt": "FirstLambda",
  "States": {
    "FirstLambda": {
      "Next": "SecondLambdaWait",
      "Type": "Task",
      "ResultPath": "$.firstLambdaOutput",
      "Resource": "arn:aws:lambda:ap-northeast-1:14315xx11999:function:FirstLambda:$LATEST"
    },
    "SecondLambdaWait": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ap-northeast-1:14315xx11999:function:SecondLambda:$LATEST",
        "Payload": {
          "token.$": "$$.Task.Token",
          "otherInput.$": "$"
        }
      },
      "Next": "Result"
    },
    "Result": {
      "Type": "Succeed"
    }
  }
}